$bg-color: #382f40;
$bg-color-dark: #2b2533;

// game elements
$nature: #46db73;
$fire: #de4343;
$ice: #39aff7;
$astral: #ebf0a3;
$darkness: #735ae6;
$storm: #84f1f5;
$iron: #a67a44;

// rarity
$common: #ffffff;
$uncommon: #5465ff;
$rare: #fcdc51;
$unique: #b259ff;

// attack types
$magic: #f73bd7;
$decay: #8f8f8f;
$elemental: #ff7540;
$energy: $storm;
$physical: $common;
$essence: #4da361;

