.intro {
  padding: 20px 0;
}

.category-list {
  padding: 10px 0;
  display: block;
  padding-left: 10px;
}

.category-list__item {
  padding-bottom: 8px;
}

.creeps, .game-elements {
  padding-bottom: 20px;
}

h2[class$="__title"] {
  padding-bottom: 10px;
  font-size: 20px;
}