.filter-group {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 1%;
  border-bottom: 1px solid #1c1821;
  border-right: 1px solid #1c1821;
  border-left: 1px solid #1c1821;
  width: 100%;
}

