@import './styles/vars';

* {
  box-sizing: border-box;
}

body {
  background-color: $bg-color-dark;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

ul, figure, h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 24px;
}

li {
  list-style: none;
}

figcaption, figure, img {
  display: block;
}

a {
  text-decoration: none;
  cursor: pointer;
}

p {
  margin: 0;
  padding: 0;
}

table {
  font-size: 14px;
  display: table;
  border-collapse: collapse;
  text-align: left;
}

th, td {
  text-transform: capitalize;
}

.wrap {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0% 1%;  
}

.filter-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 8px;
}

.nature, .fire, .ice, .astral, .darkness, .storm, .iron,
.common, .uncommon, .rare, .unique, .essence, .elemental,
.decay, .magic, .physical, .energy {
  font-weight: bold;
}

// elements
.nature { color: $nature }
.fire { color: $fire }
.ice { color: $ice }
.astral { color: $astral }
.darkness { color: $darkness }
.storm { color: $storm }
.iron { color: $iron }

// rarity
.common { color: $common }
.uncommon { color: $uncommon }
.rare { color: $rare }
.unique { color: $unique }

// attack types
.essence { color: $essence }
.elemental { color: $elemental }
.decay { color: $decay }
.physical { color: $physical }
.magic { color: $magic }
.energy { color: $energy }