.header {
  width: 100%;
  padding: 10px 0;
  background-color: #382f40;
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid #000000;
}

.header-wrap {
  display: flex;
  justify-content: flex-start;
}