.filter-range {
  display: block;
  position: relative;
  height: 70px;
  width: 100%;
  max-width: 220px;
  overflow: hidden;
  font-size: 14px;
  margin-right: 2%;
  margin-bottom: 10px;
}

.filter-title {
  font-size: 15px;
}

.filter-header {
  padding-bottom: 10px;
}

.filter-body {
  position: relative;
}

.filter-values {
  background: #3f3847;
  border-radius: 20px;
  padding: 2px 8px;
  display: flex;
  justify-content: space-between;
  font-size: 13px
}

.filter-range__line {
  display: block;
  position: absolute;
  height: 2px;
  top: 50%;
  left: 0;
  width: 100%;
  background-color: #57d482;
  z-index: 10;
}

.range-line {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  top: 50%;
  background-color: #3f3847;
}

.filter-range__min-value, .filter-range__max-value {
  display: inline-block;
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid #212121;
  background: #57d482;
  z-index: 30;
  cursor: pointer;
  top: 1px;
  z-index: 20;
  // circles
  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 4px;
    left: 4px;
    width: 50%;
    height: 50%;
    border-radius: 50%;
    background: #2b2533;
  }
}